/** Colors **/
$color-transparent: rgba(255, 255, 255, 0);
$color-white: #fff;
$color-dirty_white: #fafafa;
$color-light_gray: #f0f0f0;
$color-gray: #d5d5d5;
$color-mid_gray: #999;
$color-dark_gray: #707070;
$color-darker-gray: #808080;
$color-light_black: #333;
$color-black: #111;
$color-orange: #f99d1c;
$color-blue: #0079aa;
$color-cyan: #00c4d2;
$color-red: #950000;
$color-yellow: #fec405;
$color-green: #00a753;

/** Palette **/
/* Box-shadow */
$color-box-shadow: rgba(17, 17, 17, 0.3);
$color-box-shadow-hover: rgba(17, 17, 17, 0.8);

/* Button */
$color-button: rgba(0, 121, 170, 0.5);
$color-button-active: rgba(0, 196, 210, 0.8);
