<div class="app-game-board" fxLayoutAlign="start start">

  <app-board-cell [cellType]="'EMPTY'"></app-board-cell>
  <app-board-cell [cellType]="'EMPTY'"></app-board-cell>
  <app-board-cell [cellType]="'EMPTY'"></app-board-cell>

  <app-board-cell [cellType]="'SNAKE'"></app-board-cell>
  <app-board-cell [cellType]="'SNAKE'"></app-board-cell>

  <app-board-cell [cellType]="'FOOD'"></app-board-cell>

  <app-board-cell [cellType]="'EMPTY'"></app-board-cell>
  <app-board-cell [cellType]="'EMPTY'"></app-board-cell>

</div>
