@import '../../../styles/variables.scss';

:host {
  position: relative;
}

.app-game-board {
  background-color: $color-white;
  border-radius: $border-radius-default;
  box-shadow: $box-shadow-default;
  contain: content;
  height: auto;
  min-height: 100%;
  overflow: auto;
  padding: $space-sm;
  position: relative;
  transition: background 1.0s ease-in-out;
  width: max-content;
  z-index: $z-index-view-container;

  &__row {
    display: inline-flex !important;

    &-container {
      width: max-content;
    }
  }

  app-board-cell {
    margin: $space-xs;
  }
}
