@import '../../../styles/variables.scss';

:host {
  height: 100%;
  position: relative;
  width: 100%;
}

.app-game-board {
  background-color: $color-white;
  border-radius: $border-radius-default;
  box-shadow: $box-shadow-default;
  contain: content;
  height: auto;
  min-height: 100%;
  overflow: auto;
  position: relative;
  transition: background 1.0s ease-in-out;
  width: 100%;
  z-index: $z-index-view-container;
}
